display(value)
  if value == flex
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex

flex-wrap(value)
  if value == wrap
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap
