@require functions
@require mixins
@require variables

.row
  display(flex)
  flex-wrap(wrap)
  padding 0 rowGutter(gutter)
.row:first-child
  padding rowGutter(gutter) rowGutter(gutter) 0 rowGutter(gutter)
.row:last-child
  padding 0 rowGutter(gutter) rowGutter(gutter) rowGutter(gutter)
.row:after
  content ""
  display table
  clear both
